
      /*#######.
     ########",#:
   #########',##".
  ##'##'## .##',##.
   ## ## ## # ##",#.
    ## ## ## ## ##'
     ## ## ## :##
      ## ## ##*/

:root:not([uidensity='compact']) #back-button > .toolbarbutton-icon {
  background-color: unset !important;
  border: unset !important;
  padding: var(--toolbarbutton-inner-padding) !important;
  border-radius: var(--toolbarbutton-border-radius) !important;
  width: calc(2 * var(--toolbarbutton-inner-padding) + 16px) !important;
  height: calc(2 * var(--toolbarbutton-inner-padding) + 16px) !important;
  margin-top: 4px !important;
  margin-bottom: 4px !important;

  box-shadow: none !important;
}

/* Hover and Active states to mimic other buttons */
:root:not([uidensity='compact'])
  #back-button:hover:not([disabled])
  > .toolbarbutton-icon {
  background-color: var(--toolbarbutton-hover-background) !important;
}

:root:not([uidensity='compact'])
  #back-button:active:not([disabled])
  > .toolbarbutton-icon {
  background-color: var(--toolbarbutton-active-background) !important;
}

/* Remove pre-padding */
:root:not([uidensity='compact']) #back-button {
  padding-inline-start: 7px !important;
}

.titlebar-spacer[type='pre-tabs'] {
  width: 7px !important;
  border-inline-end: none !important;
}

toolbar #tabs-newtab-button {
  margin-top: 1px !important;
}

toolbar #tabs-newtab-button > .toolbarbutton-icon {
  margin: 2px !important;
  width: calc(2 * var(--toolbarbutton-inner-padding) + 12px) !important;
  height: calc(2 * var(--toolbarbutton-inner-padding) + 12px) !important;
}

.tabbrowser-tab::after,
.tabbrowser-tab::before {
  border-left: none !important; /* Remove borders from inactive tabs */
}

:root {
  --tabs-border: transparent !important; /* Remove borders from active tab and below tabs */
}

:root:not([uidensity='compact']):not([chromehidden~='toolbar'])
  #nav-bar[brighttext]
  > #PanelUI-button {
  margin-inline-start: 0 !important;
  border-inline-start: none !important;
}

#tracking-protection-icon-container {
  padding-inline-start: 8px !important;
  padding-inline-end: 8px !important;
}

#pageActionButton {
  border-radius: 3px !important;
  margin-right: 2px !important;
}

#identity-box {
  padding-inline-start: 8px !important;
  padding-inline-end: 8px !important;
}

.tab-line {
  display: none !important;
}

toolbar .toolbarbutton-1 {
  margin-left: 4px !important;
  margin-right: 4px !important;
}

:root:not([uidensity='compact']) #PanelUI-button {
  padding-inline-start: 2px !important;
}

:root:not([uidensity='compact']) #PanelUI-menu-button {
  padding-inline-end: 9px !important;
}

/* URL/SEARCH BAR */

#urlbar:not(.megabar):not(.hidden-focus)[focused='true'] {
  border: 1px solid rgb(59, 157, 238) !important;
  box-shadow: 0 0 0 1px rgb(49, 134, 204) !important;
}

#urlbar,
#searchbar {
  border: 1px solid transparent !important;
  min-height: 31px !important;
  font-size: 1.3em !important;
}

:root[uidensity='compact'] #urlbar,
:root[uidensity='compact'] #searchbar {
  border: 1px solid transparent !important;
  min-height: 29px !important;
  font-size: 1.25em !important;
}

#PanelUI-button {
  border: none !important;
}

/* TABS */

.tab-close-button,
.close-icon {
  width: 16px !important;
  opacity: 0.7 !important;
}

.tabbrowser-tab:hover
  > .tab-stack
  > .tab-background:not([selected='true']):not([multiselected]) {
  transition: background-color 0.2s !important;
  background-color: rgba(255, 255, 255, 0.2) !important;
}

#main-window:not([lwthemetextcolor='dark'])
  .tabbrowser-tab:hover
  > .tab-stack
  > .tab-background:not([selected='true']):not([multiselected]) {
  background-color: rgba(255, 255, 255, 0.04) !important;
}

.tab-background {
  border-top: none !important;
}

.tabbrowser-tab {
  font-size: 12px !important;
}

.tab-icon-image {
  margin-left: 2px !important;
}

.tab-throbber:not([pinned]),
.tab-sharing-icon-overlay:not([pinned]),
.tab-icon-pending:not([pinned]),
.tab-icon-image:not([pinned]) {
  margin-inline-end: 8px !important;
}

:root:not([uidensity='compact']) #tabbrowser-tabs {
  min-height: 35px !important;
}

:root[uidensity='compact'] #tabbrowser-tabs {
  min-height: 31px !important;
}

#tabbrowser-tabs:not([movingtab])
  > .tabbrowser-arrowscrollbox
  > .tabbrowser-tab
  > .tab-stack
  > .tab-background[multiselected='true']:-moz-lwtheme,
#tabbrowser-tabs:not([movingtab])
  > .tabbrowser-arrowscrollbox
  > .tabbrowser-tab
  > .tab-stack
  > .tab-background[selected='true']:-moz-lwtheme {
  background-image: linear-gradient(
      var(--lwt-selected-tab-background-color, transparent),
      var(--lwt-selected-tab-background-color, transparent)
    ),
    linear-gradient(var(--toolbar-bgcolor), var(--toolbar-bgcolor)),
    var(--lwt-header-image, none) !important;
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.15), 0 0 2px rgba(0, 0, 0, 0.11) !important;
}

#main-window[lwthemetextcolor='bright']
  #tabbrowser-tabs:not([movingtab])
  > .tabbrowser-arrowscrollbox
  > .tabbrowser-tab
  > .tab-stack
  > .tab-background[selected='true']:-moz-lwtheme {
  box-shadow: 0 4px 3px rgba(0, 0, 0, 0.45) !important;
}

:root:-moz-any([sizemode='fullscreen'], [customize-entered])
  #nav-bar:not([tabs-hidden='true']),
:root:not([tabsintitlebar]) #nav-bar:not([tabs-hidden='true']),
#nav-bar:not([tabs-hidden='true']):-moz-lwtheme {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2) !important;
}

.arrowscrollbox-scrollbox {
  padding-left: 5px !important;
}

#main-window[extradragspace] .arrowscrollbox-scrollbox {
  padding-top: 3px !important;
}

:root[extradragspace] #TabsToolbar > .toolbar-items {
  padding-top: 5px !important;
}

:root[extradragspace][uidensity='compact'] #TabsToolbar > .toolbar-items {
  padding-top: 1px !important;
}

#main-window[OSXLionFullscreen] .arrowscrollbox-scrollbox {
  padding-left: 0 !important;
}

/* MAIN WINDOW */

#main-window[lwthemetextcolor='bright'] {
  -moz-appearance: -moz-mac-vibrancy-dark !important;
}

#main-window[lwthemetextcolor='bright'] #TabsToolbar {
  background: rgba(0, 0, 0, 0.49) !important;
}

/* TABS RADIUS */
/* TABS RADIUS */
/* TABS RADIUS */
/* TABS RADIUS */
/* TABS RADIUS */
/* TABS RADIUS */

:root[extradragspace] .tab-background {
  border-radius: 4px 4px 0 0 !important;
}

:root[extradragspace] .tab-background:before,
:root[extradragspace] .tab-background:after {
  content: '';
  position: absolute;
  bottom: -2px;

  height: 8px;
  width: 8px;
  border-width: 2px;
  border-radius: 100%;
  margin: 0;
  padding: 0;

  background: transparent;
  border-color: transparent;
  border-bottom-color: var(--toolbar-bgcolor);
  border-style: solid;
}

:root[extradragspace] .tab-background:before {
  left: -10px;
  transform: rotate(-45deg);
}

:root[extradragspace] .tab-background:after {
  right: -10px;
  transform: rotate(45deg);
}

/* TABS OVERFLOW */

.arrowscrollbox-overflow-start-indicator,
.arrowscrollbox-overflow-end-indicator {
  opacity: 0.31 !important;
}
